.btn {
  display: inline-block;
  padding: 8px 16px;
  background: #FFFFFF;
  border-radius: 10px;
  border: none;
  font-family: 'Rubik';
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  box-shadow: none;
  min-width: 123px;
  min-height: 39px;


  &--primary {
    background: #00A76A;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    min-width: 168px;
    min-height: 48px;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}